@bludevkit:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${secrets.VUE_UI_TOKEN}
//npm.pkg.github.com/:_authToken=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