@bludevkit:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${secrets.VUE_UI_TOKEN}
# //npm.pkg.github.com/:_authToken=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